{% extends "vozickarskenoviny/base.html"%}
{% load markup simple_ads %}
{% block base_content %}
<div class="row">
    <div class="span3">
        <h3>Přidat nový inzerát</h3>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <p></p>
            <input type="submit" value="Přidat inzerát">
        </form>
    </div>
    <div class="span6">
        {% if request.GET.m %}
        <p>Inzerát byl přidán. Čeká se na jeho schválení.</p>
        {% endif %}

        {% for item in items %}
            <div class="row" style="margin-bottom: 15px">
                <div class="span2">
                    <img style="height: 170px" src="{% if item.img %}{{ item.img.url }}{% else %}{{ STATIC_URL}}bazar-default.jpg{% endif %}">
                </div>
                <div class="span4">
                    <h3>{{ item.title }}</h3>
                    <p>{{ item.description }}</p>
                    <p style="text-align: right"><b>{{ item.phone }}</b> <a href="mailto:{{ item.email}}">{{ item.email }}</a></p>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="span3">
        <h3>Kategorie</h3>
        <a href="{% url 'vn.bazaar' %}"><b>Všechny kategorie</b></a><br>
        {% for cat in categories %}
            <a href="{% url 'vn.bazaar.category' cat.id %}"><b>{{ cat.name }}</b></a><br>
        {% endfor %}
        <hr>
            <div class="hidden-phone" style="float: right; margin-right: 30px">
                <!-- <img src="/static/static/vozickarskenoviny/img/240x400.gif"> -->
                <div id="sklikReklama_446820"></div>
                <script type="text/javascript">
                    var sklikData = { elm: "sklikReklama_446820", zoneId: 44620, w: 200, h: 400 };
                </script>
                <script type="text/javascript" src="https://c.imedia.cz/js/script.js"></script>
            </div>
            <div class="hidden-phone" style="float: right;">
                <!-- <img src="/static/static/vozickarskenoviny/img/240x400.gif"> -->
                <div id="sklikReklama_446820"></div>
                <script type="text/javascript">
                    var sklikData = { elm: "sklikReklama_446820", zoneId: 44620, w: 200, h: 400 };
                </script>
                <script type="text/javascript" src="https://c.imedia.cz/js/script.js"></script>
            </div>
            <div class="hidden-phone" style="float: right;">
                <!-- <img src="/static/static/vozickarskenoviny/img/240x400.gif"> -->
                <div id="sklikReklama_446820"></div>
                <script type="text/javascript">
                    var sklikData = { elm: "sklikReklama_446820", zoneId: 44620, w: 200, h: 400 };
                </script>
                <script type="text/javascript" src="https://c.imedia.cz/js/script.js"></script>
            </div>
            <div class="hidden-phone" style="float: right;">
                <!-- <img src="/static/static/vozickarskenoviny/img/240x400.gif"> -->
                <div id="sklikReklama_446820"></div>
                <script type="text/javascript">
                    var sklikData = { elm: "sklikReklama_446820", zoneId: 44620, w: 200, h: 400 };
                </script>
                <script type="text/javascript" src="https://c.imedia.cz/js/script.js"></script>
            </div>
            <div class="hidden-phone" style="float: right;">
                <!-- <img src="/static/static/vozickarskenoviny/img/240x400.gif"> -->
                <div id="sklikReklama_446820"></div>
                <script type="text/javascript">
                    var sklikData = { elm: "sklikReklama_446820", zoneId: 44620, w: 200, h: 400 };
                </script>
                <script type="text/javascript" src="https://c.imedia.cz/js/script.js"></script>
            </div>
    </div>
{% endblock base_content %}
