{% extends "vozickarskenoviny/base.html"%}
{% load markup simple_ads %}
{% block base_content %}

<div class="row" style="margin-bottom:10px;">
    <div class="span5">
        <img src="{{expo.img.url}}">
    </div>
    <div class="span7">
        <h1>{{expo.title}}</h1>
        <p>{{expo.text}}</p>
    </div>
</div>


<div class="row">
    <div class="span9">
        {% for item in items %}
            <div class="row" style="margin-bottom: 15px">
                <div class="span4">
                    <a href="{{ item.link }}"><img style="height: 170px" src="{{ item.img.url }}"></a>
                </div>
                <div class="span5">
                    <a href="{{ item.link }}"><h3>{{ item.title }}</h3></a>
                    <p>{{ item.text }}</p>
                    <p style="text-align: right"><b>{{ item.phone }}</b>, <b><a href="mailto:{{ item.email}}">{{ item.email }}</a></b>, <b><a href="{{ item.www }}">{{item.www}}</a></b></p>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="span3">
        <h3>Kategorie</h3>
        <a href="?"><b>Všechny kategorie</b></a><br>
        {% for cat in categories %}
            <a href="?category={{cat.id}}"><b>{{ cat.name }}</b></a><br>
        {% endfor %}
        <hr>
            <div class="hidden-phone" style="float: right; margin-right: 30px">
                <!-- <img src="/static/static/vozickarskenoviny/img/240x400.gif"> -->
                <div id="sklikReklama_446820"></div>
                <script type="text/javascript">
                    var sklikData = { elm: "sklikReklama_446820", zoneId: 44620, w: 200, h: 400 };
                </script>
                <script type="text/javascript" src="https://c.imedia.cz/js/script.js"></script>
            </div>
            <div class="hidden-phone" style="float: right;">
                <!-- <img src="/static/static/vozickarskenoviny/img/240x400.gif"> -->
                <div id="sklikReklama_446820"></div>
                <script type="text/javascript">
                    var sklikData = { elm: "sklikReklama_446820", zoneId: 44620, w: 200, h: 400 };
                </script>
                <script type="text/javascript" src="https://c.imedia.cz/js/script.js"></script>
            </div>
            <div class="hidden-phone" style="float: right;">
                <!-- <img src="/static/static/vozickarskenoviny/img/240x400.gif"> -->
                <div id="sklikReklama_446820"></div>
                <script type="text/javascript">
                    var sklikData = { elm: "sklikReklama_446820", zoneId: 44620, w: 200, h: 400 };
                </script>
                <script type="text/javascript" src="https://c.imedia.cz/js/script.js"></script>
            </div>
            <div class="hidden-phone" style="float: right;">
                <!-- <img src="/static/static/vozickarskenoviny/img/240x400.gif"> -->
                <div id="sklikReklama_446820"></div>
                <script type="text/javascript">
                    var sklikData = { elm: "sklikReklama_446820", zoneId: 44620, w: 200, h: 400 };
                </script>
                <script type="text/javascript" src="https://c.imedia.cz/js/script.js"></script>
            </div>
            <div class="hidden-phone" style="float: right;">
                <!-- <img src="/static/static/vozickarskenoviny/img/240x400.gif"> -->
                <div id="sklikReklama_446820"></div>
                <script type="text/javascript">
                    var sklikData = { elm: "sklikReklama_446820", zoneId: 44620, w: 200, h: 400 };
                </script>
                <script type="text/javascript" src="https://c.imedia.cz/js/script.js"></script>
            </div>
    </div>
{% endblock base_content %}
